<% provide(:title, @game.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="game_info">
      <h1>
        <%= @game.title %>
      </h1>
      <h2>
        Genre: <%= @game.genre %><br>
        ESRB Rating: <%= @game.rating %>
      </h2>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @game.reccomendations.any? %>
      <h3>Recommendations (<%= @game.reccomendations.count %>)</h3>
      <ol class="reccomendations">
        <%= render @reccomendations %>
      </ol>
      <%= will_paginate @reccomendations %>
    <% end %>
  </div>
</div>